---
import SimpleTest from '../components/SimpleTest.tsx';
import ChatTest from '../components/ChatTest.tsx';
---

<html>
<head>
  <title>React Test</title>
</head>
<body>
  <h1>Testing React Components</h1>
  <SimpleTest client:load />
  <div style="margin: 20px 0;">
    <ChatTest client:load />
  </div>
</body>
</html>
